/* Reset some default browser styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navigation styles */
nav {
    background-color: #333;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav a:hover {
    background-color: #111;
}

/* Main content styles */
main {
    padding: 20px;
    background-color: #f9f9f9;
}

/* Footer styles */
footer {
    background-color: #6d0505;
    color: white;
    text-align: center;
    padding: 10px;
}
